<h1>hello world <%= @stock.game %>, <%= @stock.platform %></h1>

<div class="boxes_big">
  <div class="boxes">
    <table class="center">
      <form method="post" action="/stocks/<%= @stock.id %>">
        <tr>
          <th>Game</th>
          <th></th>
          <th>Platform</th>
          <th></th>
          <th>Cost Price</th>
          <th></th>
          <th>Sell Price</th>
          <th></th>
          <th>Quantity</th>
        </tr>
        <tr>
        <td><%= @stock.game  %></td>
          <td>|</td>
          <td><%= @stock.platform %></td>
          <td>|</td>
          <td>£<input type="number" name="cost_price" value="<%= @stock.cost_price %>"></td>
          <td>|</td>
          <td>£<input type="number" name"sell_price" value="<%= @stock.sell_price %>""></td>
          <td>|</td>
          <td class="<%= @stock.color() %>"><input type="number" name="quantity" value="<%= @stock.quantity %>">
          </td>
        </tr>
        <tr>
          <td>
            <input class="btn" type="submit" name="Save Changes"> 
          </td>
        </tr>



        

      </form>

      


    </table>
    

  </div> 

</div>