<h1>Welcome to the Game Shop</h1>

<div class="row">

  <div class="col">
    <iframe width="560" height="315" src="https:<%= @videos.shuffle[0] %>" frameborder="0"  allowfullscreen></iframe>
  </div>

  <div class="col">
    <h2>Stock Level Warning</h2>

    <table class="center">
      <tr>
        <th>Game</th>
        <th></th>
        <th>Quantity</th>
      </tr>
      <% for game in @games %>
      <tr>
        <td><a href="/games/<%= game.id %>"><%= game.name  %></a></td>
        <td>|</td>
        <td class="<%= game.color() %>"><%= game.quantity %></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>