<h1>Game Details</h1>

<div class="boxes_big2">
  <div class="boxes_small1">
  <p>Name: <%= @games.name %></p>
  <p>Publisher: <%= @games.publisher %></p>
  <p>Genre: <%= @games.genre %></p>
  <table class="center">
    <tr>
      <th>Platform</th>
      <th></th>
      <th>Quantity</th>
    </tr>
    <% for stock in @stocks %>
    <tr>
      <td><%= stock.platform %></td>
      <td>|</td>
      <td class="<%= stock.color() %>">
              <%= stock.quantity %></td>
    </tr>
    <% end %>
  </table>
</div>
<div class="boxes_small2">
  <img src="<%= @games.image() %>">
</div>
</div>

<table class="center">
<tr>
<td>
<form method="get" action="/games/<%= @games.id %>/edit">
  <input class="btn" type="submit" value="Edit Game">
</form>
</td>
<td>
<form method="post" action="/games/<%= @games.id %>/delete">
  <input class="btn" type="submit" value="Delete Game">
</form>
</td>
</tr>
</table>